/* Main.scss */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9a063;
  height: 100vh;
  width: 100vw;
  padding: 20px; /* Padding for .home */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.home-content {
  border: 0.01em solid white;
  background-color: white;
  border-radius: 10px; /* Rounded corners */
  width: 80vw;
  max-width: 1200px;
  height: 80vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  justify-content: flex-start;
  padding: 0; 
}

.topbar {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content */
  gap: 10px;
  background: linear-gradient(270deg, rgba(230,183,8,0.9528186274509804) 37%, rgba(207,135,9,1) 100%);
  padding: 10px 0; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;

  img {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }

  p {
    font-weight: bold;
    color: white;
    margin: 0; 
    font-family: sans-serif;
  }
}

/*Chatbot section*/

.messages {
  display: flex;
  flex-direction: column;
  
  flex-grow: 1;
  background-color:#ddddf7;
  padding:10px;
  height:calc(100% - 200px);
  overflow-y: auto;  

}

/*input section*/

.input-container {

  display:flex;
  position:relative;
  align-items: center;
  width:100%;
  padding-right: 50px;
}

.input-field {
  width:100%;
  padding:10px;
  border:none;
  height:60px;
  outline:none;
  border-radius: 10px;
  font-size:20px;
  font-family: sans-serif;
  color:black;

  
}



.send-button {

   
  right: 10px; 
  border: none; 
  background: none; 
  cursor: pointer; 
  z-index: 2; 
  padding: 10px;
 
}

.send-button img {
  margin-right: 10px;
  width: 35px; 
  height: 35px; 
}

/*Message Section*/


.Message {
  display: flex;
  flex-direction: column; // Stack the content vertically
  align-items: flex-end; // Align user messages to the right
  margin-bottom: 10px; // Space between messages
  padding: 10px; // Padding inside the message bubble
  background-color: #DCF8C6; // Light green for user messages
  border-radius: 20px; // Rounded corners for bubbles
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Optional shadow for depth
  word-wrap: break-word; // Prevents long text from overflowing
  max-width: 45%; // Adjust max width to prevent overly long messages

  p {
    color: #444;
    font-size: 16px;
    line-height: 1.5;
  }

  &.owner {
    
    align-self: flex-end; // Align user messages to the right
    background-color: #DCF8C6; // Light green for user messages
    border-radius: 20px 20px 0 20px; // Tail effect for user messages
  }

  &.bot {
    align-self: flex-start; // Align bot messages to the left
    background-color: #f0f0f0; // Different background for bot messages
    border-radius: 20px 20px 20px 0; // Tail effect for bot messages
  }
}
