/* Main.scss */
.home {
  padding-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ddddf7;
  height: 100vh;
  width: 100vw; 
  overflow-x: hidden;
}


.topbar {

  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 100;

  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: linear-gradient(270deg, rgba(230,183,8,0.9528186274509804) 37%, rgba(207,135,9,1) 100%);
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .news-app-title {

    font-size: 24px; 
    color: #fff; 
    font-weight: bold; 
    margin-left: 20px; 
    margin-right: 20px;
    
  }
  .left-group {
    display: flex;
    align-items: center;

    .nav-links {
      display: flex; 
      list-style: none; 
      margin: 0;
      padding: 0; // Make sure there is no default padding

      li {
        margin-right: 10px;

        button {
          background: none;
          border: none;
          color: white;
          cursor: pointer;
          font-size: 16px;

          &:hover {
            text-decoration: underline;
          }

          &:hover {
            transform: scale(1.2);
            color: white;
          }
        }
      }
    }
  }
}

/*input section*/

.search-container {
  position: relative; // Set the search container to relative
  width: 300px;
  padding-right: 20px;
  margin-right: 35px;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-right: 20px; // Make room for the search button inside the input
  border: none;
  height: 30px;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: black;
}

.search-button {
  position: absolute; // Position the button absolutely inside the search container
  right: 10px;
  top: 50%;
  transform: translateY(-50%); // Center vertically
  border: none;
  background: none;
  cursor: pointer;
  z-index: 2;
  
 
  img {
    width: 20px; // Adjust size as needed
    height: 20px;
  }
}
/*News card*/

.news-card {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  background-color: #ddddf7;
  margin-bottom: 10px;
  width: calc(25% - 20px); 
  margin-bottom: 20px;


  &:hover {
    transform: scale(1.02);
  }

  .news-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .news-content {
    padding:15px;



    .news-title {

      font-size:16px;
      color: black;
      margin-bottom: 16px;
    }


    .read-more-btn {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: darken(#007bff, 5%);
      }

    }

  }

}


/*News Section*/
.news-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}

